= simple_form_for([@post, @post.comments.build], remote: true) do |f|
	= f.input :comment, placeholder: "Comment", label: false, autofocus: true
	= f.submit "Post", data: { disable_with: "Posting..." }