%h1 Firehose

#new_post_container
	= render partial: 'form'

#posts
	= render(@posts) || "There are no posts yet. Use the form above to make a post."

-##sidebar
	%ul#users
		- @users.each do |user|
			%li= user.username
