- if current_user
	%h1 New Post
	#new_post_container
		= render partial: 'form'

%h1 All Posts
#posts
	= sync_new partial: 'post_row', resource: Post.new, direction: :prepend
	= sync partial: 'post_row', collection: @posts || "There are no posts yet. Use the form above to make a post."
