%h1 Firehose

#posts
	- @posts.each do |post|
		.post
			%h2= link_to post.title, post
			.meta
				Posted by
				= post.user.email
				= time_ago_in_words(post.created_at)
				ago
			%p= post.content

#sidebar
	%ul#users
-#		- @users.each do |user|
-#			%li= user.email