@import 'includes';

// General

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-hover;
  }

  &:active {
    color: $primary-hover;
  }

  &:focus {
    color: $primary-hover;
    background: $primary-focus;
    outline: $primary-focus;
    box-shadow: 0 0 5px $primary-focus;
    border-radius: 3px;
  }
}


// Flash Messages

#flash {
  @extend .pane;
  background-color: $gray-light;
  margin-top: 20px;

  p {
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


// Users

.user-name {
  display: inline-block;
  line-height: 20px;
  height: 20px;
  background-color: $user-tag;
  border-radius: 10px;

  img {
    vertical-align: bottom;
  }
  span {
    color: $user-tag-text;
    padding: 0 8px 0 2px;
  }
}

.avatar-large {
  @include res-image(480px, 4px);
}

.avatar-medium {
  @include avatar(160px);
}

.avatar-small {
  @include avatar(80px);
}

.avatar-tiny {
  @include avatar(20px);
}


// Images

img.large {
  @include res-image(1280px, 0);
}

img.medium {
  @include res-image(640px, 4px);
}

img.thumb {
  @include res-image(120px, 2px);
}

// Posts

.meta {
  font-size: $font-small;
  padding-bottom: 10px;
}


// Registration

#registration-links {
  @extend %clearfix;
  list-style: none;
  border-top: $border-light;
  padding: 5px 0 0;
  margin: 10px 0 0;

  li {
    float: left;
    border-left: $border-light;
    padding: 2px 10px;

    &:first-of-type {
      border: none;
    }
  }
}