@import 'variables';

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

%container {
  box-sizing: border-box;
  max-width: $max-site-width;
  padding: 0 10px;
  margin: 0 auto;
}

.pane {
  @extend %clearfix;
  max-width: $max-pane-width;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}

@mixin res-image($max, $radius) {
  width: 100%;
  max-width: $max;
  border-radius: $radius;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: 50%;

  &.avatar-empty {
    display: inline-block;
    background-color: $avatar-empty;
  }
}

// Animation for flash message fadeout
