@import 'variables';

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

%container {
  box-sizing: border-box;
  max-width: $max-site-width;
  padding: 0 10px;
  margin: 0 auto;
}

%box {
  border-radius: 6px;
  padding: 10px 10px 0;
  margin: 0 auto 20px;
}

@mixin pane($bg: $white-near) {
  @extend %clearfix;
  @extend %box;
  max-width: $max-pane-width;
  background: $bg;
}

@mixin res-image($max, $radius) {
  width: 100%;
  max-width: $max;
  border-radius: $radius;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: 50%;

  &.avatar-empty {
    display: inline-block;
    background-color: $avatar-empty;
  }
}

@mixin button($bg: $blue, $text: $white, $hover-bg: $blue-bright, $hover-text: $blue-dark, $focus-bg: $blue-bright, $focus-text: $blue-dark) {
  box-sizing: border-box;
  display: inline-block;
  color: $text;
  font-size: 14px;
  line-height: 20px;
  background: $bg;
  border: $bg solid 2px;
  border-radius: 3px;
  padding: 3px 10px;
  margin: 10px;

  &:hover, &:active {
    color: $hover-text;
    background: $hover-bg;
  }
  &:focus {
    color: $focus-text;
    background: $focus-bg;
    outline: $primary-focus;
    box-shadow: 0 0 5px $primary-focus;
  }
}

// Animation for flash message fadeout
